
  .heading-primary {
    color: $offWhite;
    text-transform: uppercase;
    backface-visibility: hidden; /* remove animation shaken */
    margin-bottom: 6rem;
  
    &--main {
      letter-spacing: 4.2rem;
      display: block;
      font-size: 5.2rem;
  
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-in;
    }
  
    &--sub {
      display: block;
      font-size: 2.4rem;
      letter-spacing: 1.2rem;
      font-weight: 700;
  
      animation: moveInRight 1s ease-in;
    }
  }
  
  body {
    font-family: "Lato", serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $prGrey;
    padding: 3rem;
  

  }