.header {
  position: relative;
  height: 55vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($primaryLightCream, 0.795),
      rgba($secondaryBrown, 0.795)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;

  /* clip-path: polygon(0 0, 100% 0, 100% 52%, 0 64%); */
  // clip-path: polygon(50% 0%, 100% 0, 100% 38%, 100% 51%, 31% 63%, 0 58%, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 70%, 100% 88%, 30% 100%, 0 91%, 0% 30%);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 25%; /*allows to move element relative to parent element: the header */
    left: 50%;
    /* background-color: red; */
    transform: translate(-50%, -50%); /* transforms element, not the parent */
    text-align: center;
  }
}
