//Colors: 
 $primaryLightCream: #f7e8c0;
 $primaryDarkBrown: #492e06;
 $secondaryBrown: #6b4205;
 $offBlack: #181717;
 $offGrey: #8d9396;
 $offWhite: #fff6f6;
 $prGrey: #777;
 $white: #ffffff;

 //Grid:
 $grid-width: 114rem;
 $gutter-vertical: 8rem;
 $gutter-horizontal: 6rem;


 