//Colors:
$primaryLightCream: #f7e8c0;
$primaryDarkBrown: #492e06;
$secondaryBrown: #6b4205;
$offBlack: #181717;
$offGrey: #8d9396;
$offWhite: #fff6f6;
$prGrey: #777;
$white: #ffffff;
$color-cream-ligh-1: #faf4ea;
$color-cream-ligh-2: #e9c381;
$color-red-1: #df0a0a;
$color-blue-1: #1603bb;

//Grid:
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
