/*
COLORS:
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
  /* clip-path: polygon(0 0, 100% 0, 100% 52%, 0 64%); */
  clip-path: polygon(50% 0%, 100% 0, 100% 38%, 100% 51%, 31% 63%, 0 58%, 0 0); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(247, 232, 192, 0.795), rgba(107, 66, 5, 0.795)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top; }

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }

.header__logo {
  height: 3.5rem; }

.header__text-box {
  position: absolute;
  top: 25%;
  /*allows to move element relative to parent element: the header */
  left: 50%;
  /* background-color: red; */
  transform: translate(-50%, -50%);
  /* transforms element, not the parent */
  text-align: center; }

.heading-primary {
  color: #fff6f6;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* remove animation shaken */
  margin-bottom: 6rem; }

.heading-primary--main {
  letter-spacing: 4.2rem;
  display: block;
  font-size: 5.2rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in; }

.heading-primary--sub {
  display: block;
  font-size: 2.4rem;
  letter-spacing: 1.2rem;
  font-weight: 700;
  animation: moveInRight 1s ease-in; }

@keyframes moveInLeft {
  0% {
    opasity: 0;
    transform: translateX(-10rem); }
  80% {
    opasity: 0.8;
    transform: translateX(1rem); }
  100% {
    opasity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opasity: 0;
    transform: translateX(10rem); }
  80% {
    opasity: 0.8;
    transform: translateX(-1rem); }
  100% {
    opasity: 1;
    transform: translateX(0); } }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.8rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(24, 23, 23, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(24, 23, 23, 0.2); }

.btn--white {
  background-color: #f7e8c0;
  color: #492e06; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white::after {
  background-color: rgba(255, 255, 255, 0.396); }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

@keyframes moveInBottom {
  0% {
    opasity: 0;
    transform: translateY(5rem); }
  100% {
    opasity: 1;
    transform: translate(0); } }

.btn--animated {
  animation: moveInBottom .5s ease-out .1s;
  /* animation-fill-mode: backwards; */ }
