*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes moveInLeft {
  0% {
    opasity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    opasity: 0.8;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opasity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opasity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    opasity: 0.8;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opasity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opasity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    opasity: 0.8;
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opasity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opasity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    opasity: 0.8;
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opasity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opasity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opasity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opasity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opasity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.heading-primary {
  color: #fff6f6;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* remove animation shaken */
  margin-bottom: 6rem;
}

.heading-primary--main {
  letter-spacing: 4.2rem;
  display: block;
  font-size: 5.2rem;
  margin-top: 18rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.heading-primary--sub {
  display: block;
  font-size: 2.4rem;
  letter-spacing: 1.2rem;
  font-weight: 700;
  -webkit-animation: moveInRight 1s ease-in;
          animation: moveInRight 1s ease-in;
}

body {
  font-family: "Lato", serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  font-size: 1.8rem;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(24, 23, 23, 0.2);
          box-shadow: 0 1rem 2rem rgba(24, 23, 23, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(24, 23, 23, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(24, 23, 23, 0.2);
}

.btn--white {
  background-color: #f7e8c0;
  color: #492e06;
}

.btn--white::after {
  background-color: rgba(255, 255, 255, 0.396);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--animated {
  -webkit-animation: moveInBottom 0.5s ease-out 0.1s;
          animation: moveInBottom 0.5s ease-out 0.1s;
  /* animation-fill-mode: backwards; */
}

.header {
  position: relative;
  height: 55vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(247, 232, 192, 0.795)), to(rgba(107, 66, 5, 0.795))), url("../img/hero.jpg");
  background-image: linear-gradient(to right bottom, rgba(247, 232, 192, 0.795), rgba(107, 66, 5, 0.795)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  /* clip-path: polygon(0 0, 100% 0, 100% 52%, 0 64%); */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 70%, 100% 88%, 30% 100%, 0 91%, 0% 30%);
          clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 70%, 100% 88%, 30% 100%, 0 91%, 0% 30%);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  position: absolute;
  top: 25%;
  /*allows to move element relative to parent element: the header */
  left: 50%;
  /* background-color: red; */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* transforms element, not the parent */
  text-align: center;
}

.row {
  max-width: 114rem;
  background-color: #d6cbcb;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row:first-child {
  margin-top: 4rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  background-color: aqua;
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 6rem* 2) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 6rem* 3) / 4);
}

.row .col-2-of-4 {
  width: calc(2* ((100% - 6rem* 3) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3* ((100% - 6rem* 3) / 4) + 6rem*2);
}
/*# sourceMappingURL=main.css.map */